<mat-card>Formulario para Cadastro</mat-card>
<form>
    <mat-form-field appearance="fill" class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="customer.firstName" name="firstName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form">
        <mat-label>Sobrenome</mat-label>
        <input matInput [(ngModel)]="customer.lastName" name="lastName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form">
        <mat-label>Nascimento</mat-label>
        <input matInput [(ngModel)]="customer.age" name="age">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="customer.email" name="email">
    </mat-form-field>   
</form>
<button mat-raised-button  color="primary" (click)="submitCustomer()">
    Salvar
</button>

<button mat-raised-button routerLink="/">
    Cancelar
</button>

