.formContairner {
    position: absolute;
    top: 1vh;
    left:3vh ;
    display: block;
    form {
        display:inline-block;
        
        
    }

    button {
        height: 8vh;
        width: 15vh;
        margin-left: 95vh;
        margin-top: 15vh;
        
    }

}

.card {
    p{
        
        font-size: 3vh;
        font-weight: bolder;
        color:var(--gray-800); 
    }
 
}

.contentBox {
    position: absolute;
    top: 9.5vh;
    left: 29.5vh;
    height: 89.5vh;
    width: 175vh;
    box-shadow: inset 0 0 0.4rem rgb(48, 46, 46);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}


