.formContairner {
    position: absolute;
    top: 10vh;
    left:31vh ;
    display: flex;
    


    form {
        display:inline-block;
        
        
    }

    button {
        height: 8vh;
        width: 15vh;
        margin-left: 95vh;
        margin-top: 15vh;
        
    }

}

.card {

    p{
        
        font-size: 3vh;
        font-weight: bolder;
        color:var(--gray-800);
    }
 
}



