.headerContainer {
    background: var(--gray-800);
    height: 3.55rem;

    display: flex;
    align-items: center;

    padding: 1rem 10rem;
    margin-bottom: 0.04rem;

    box-shadow: inset 0 0 1rem rgb(48, 46, 46);

    p {
        color: var(--white);
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 2px solid var(--gray-100);
    }

    span {
        color: var(--white);
        margin-left: auto;
        text-transform: capitalize;
    }

}

.sideNav {
    background: var(--gray-800);
    width: 12rem;
    
    height: 91vh;

    p {
        color: var(--white);
        padding: 3rem 2rem;
        align-items: center;
    }

}

.buttons {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;

    button {
        color: var(--white);
        border: 0;
        background: transparent;
        align-items: center;
        margin-bottom: 1rem;
        display: flexbox;
    }

}